{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint", "import"],
  "extends": [
    "eslint:recommended",
    "esnext",
    "esnext/style-guide",
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "strict": [2, "function"],
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "max-len": [
      "error",
      {
        "code": 240,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/no-cycle": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 240,
        "tabWidth": 2,
        "bracketSpacing": true,
        "indent": 2,
        "trailingComma": "none"
      }
    ]
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./",
        "paths": ["./src", "./types"],
        "extensions": [".ts", ".tsx"]
      }
    }
  }
}
